---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I co-teach the Statistical Data Science Practicum (MATH 527d1/d2) at McGill.  For some background on the concept, see the article [Statistics Practicum : Placing 'Practice' at the Center of Data Science Education](https://hdsr.mitpress.mit.edu/pub/twyc748y/release/4), joint with my former colleagues Haviland Wright and Masanao Yajima at Boston University.
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
