---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I co-teach the Statistical Data Science Practicum (MATH 527d1/d2) at McGill.  

<p>
For some background on the concept, see the article <a href="https://hdsr.mitpress.mit.edu/pub/twyc748y/release/4">Statistics Practicum : Placing 'Practice' at the Center of Data Science Education</a>, joint with my former colleagues Haviland Wright and Masanao Yajima at Boston University.
</p>

<hr>

<p>The following is central to my perspective on the process of learning:

  <blockquote>
  "The fish trap exists because of the fish; once you’ve gotten the fish, you can forget the trap. The rabbit snare exists because of the rabbit; once you’ve gotten the rabbit, you can forget the snare. Words exist because of meaning; once you’ve gotten the meaning, you can forget the words. Where can I find a man who has forgotten words so I can have a word with him ?"
  <cite>— Chuang Tzu</cite>
</blockquote>
</p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
